.center {
    text-align: center;
}
.centerImage {
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.bigImage {
    width: 350px;
}

.normalImage {
    width: 150px;
}

.smallImage {
    width: 100px;
}

.squareImage {
    width: 56px;
}

.portraitImage {
    height: 120px;
}